.awesome-card {   
    text-align: center;

    @include breakpoint(lg) {
        margin: 0 auto;
    }

    @include breakpoint(sm) {
        margin-top: 50px;
    }

    &__icon {
        display: inline-block;

        @include breakpoint(md) {
            max-width: 147px;
            max-height: 147px;
        }    
    }
    
    &__title {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 115%;
        padding-top: 38px;
        padding-bottom: 38px;

        @media (max-width: 1200px ) {
            font-size: 18px;
            padding: 10px 0;
        }

        @include breakpoint(lg) {
            font-size: 18px;
            padding: 0;
            margin-bottom: 0;
        }

        @include breakpoint(sm) {
            padding: 30px 15px;
        }
    }
    
    &__description {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 116%;
        margin-top: 0;
        margin-bottom: 0;

        @media (max-width: 1200px ) {
            font-size: 14px;
            margin-top: 30px;
        }

        @media (max-width: 1200px ) {
            margin-top: 20px;
        }
        
        @include breakpoint(sm) {
            margin-top: 9px;
        }
    }
}

