.button-outline {
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 18px;
    line-height: 140%;
    text-align: center;
    border: 2px solid var(--wt-color);
    background: none;
    color: var(--wt-color);
    padding: 20px 90px;

    @include breakpoint(xl) {
        padding: 16px 50px;
    }

    @include breakpoint(lg) {
        padding: 16px 90px;
    }

    @include breakpoint(md) {
        padding: 14px 90px;
    }

    @include breakpoint(sm) {
        width: 100%;
    }

    &:hover,
    &:active,
    &:focus {
        background: var(--pk-color)
    }

    &_city {
        margin-top: 73px;
        padding: 15px 125px;

        @include breakpoint(xl) {
            margin-top: 32px;
            padding: 15px 110px;
        }

        @include breakpoint(lg) {
            padding: 16px 70px;
            font-size: 14px;
        }

        @include breakpoint(sm) {
            margin-top: 66px;
        }
    }
}