.price-card {
    text-align: center;

    @include breakpoint(lg) {
        margin: 0 auto;
        margin-top: 30px;
    }

    @include breakpoint(sm) {
        margin-top: 24px;
    }

    &_active {
        transform: translateY(-20px);

        @include breakpoint(lg) {
            transform: translateY(0);
        }

    }

    &__name {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 137%;
        color: var(--wt-color);
        background: #333333;
        border: 2px solid #F5F5F5;
        padding-top: 17px;
        padding-bottom: 17px;
        cursor: pointer;

        @include breakpoint(sm) {
            font-size: 18px;
        }
    }

    &__cost {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 117%;
        color: var(--wt-color);
        background: #333333;
        border: 2px solid #F5F5F5;
        padding-top: 30px;
        padding-bottom: 30px;
        cursor: pointer;

        @include breakpoint(sm) {
            font-size: 24px;
        }
    }

    &__data {
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 117%;
        color: var(--gr-color);
        background: #333333;
        border: 2px solid #F5F5F5;
        margin-bottom: 0;
        padding-top: 15px;
        padding-bottom: 15px;
        cursor: pointer;

        @include breakpoint(sm) {
            font-size: 14px;
        }
    }

    &__info {
        margin-top: 0;
        display: inline;
        padding: 0;
    }

    &__info-item {
        list-style-type: none;
        background: var(--wt-color);
        border: 2px solid #F5F5F5;
        cursor: pointer;
    }

    &__info-link {
        margin-top: 0;
        text-decoration: none;
        font-family: 'Raleway';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 117%;
        color: var(--gr-color);

        @include breakpoint(sm) {
            font-size: 14px;
        }
    }
}