.city {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/city.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;

    @include breakpoint(sm) {
        padding-top: 0;
        padding-bottom: 58px;
    }
}