.customer {
    padding-top: 50px;
    padding-bottom: 64px;
    text-align: center;

    @include breakpoint(xl) {
        padding-bottom: 59px;
    }

    @include breakpoint(sm) {
        padding-top: 0;
    }

    &__card {
        @include breakpoint(xl) {
            margin: 0 auto;
            margin-bottom: 30px;
        }

        @include breakpoint(sm) {
            margin-bottom: 24px;

        }
    }

    &__card-text {
        font-family: 'Raleway';
        position: relative;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 117%;
        text-align: center;
        background: #E2E2E2;
        border-radius: 10px;
        color: var(--gr-color);
        padding: 38px 20px;

        @include breakpoint(xl) {
            font-size: 14px;
            padding: 50px 25px;
        }

        @include breakpoint(xl) {
            padding: 30px 25px;
        }

        @include breakpoint(sm) {
            font-size: 14px;
            padding: 50px 25px;
        }
    }

    &__card-text::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 70px;
        border: 15px solid transparent;
        border-top: 20px solid #E2E2E2;
    }
}