.footer {
    background: var(--bk-color);
    padding-top: 39px;
    padding-bottom: 27px;

    @include breakpoint(lg) {
        padding: 25px 0;
    }

    @include breakpoint(sm) {
        padding: 35px 0 45px 0;
    }

    &__links {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        @include breakpoint(md) {
            justify-content: space-between;
        }
    }

    &__links-item {
        margin-right: 33px;
        padding: 6px 6px;

        @include breakpoint(xl) {
            margin-right: 27px;
        }

        @include breakpoint(lg) {
            margin-right: 25px;
            padding: 0;
        }

        @include breakpoint(md) {
            a>svg {
                width: 40px;
                height: 40px;
            }
        }

        @include breakpoint(sm) {
            margin-right: 15px;

            a>svg {
                width: 26px;
                height: 26px;
            }
        }
    }

    &__links-item:last-child {
        margin-right: 0;
    }

    &__links-item svg:hover path {
        fill: var(--pk-color);
    }

    &__text {
        font-weight: 400;
        font-size: 18px;
        line-height: 117%;
        color: var(--gr-color);
        text-align: center;
        margin-top: 32px;
        margin-bottom: 0;

        @include breakpoint(xl) {
            margin-top: 38px;
        }

        @include breakpoint(lg) {
            margin-top: 25px;
        }

        @include breakpoint(md) {
            font-size: 14px;
        }

        @include breakpoint(sm) {
            margin-top: 40px;
        }
    }
}

