.personal-data {
    padding: 50px 0;
    text-align: center;

    @include breakpoint(sm) {
        padding-top: 0;
    }

    &__form {
        margin-top: 89px;

        @include breakpoint(xl) {
            margin-top: 72px;
        }

        @include breakpoint(sm) {
            margin-top: 14px;
        }
    }

    &__card {
        @include breakpoint(sm) {
            margin-top: 50px;
        }
    }
}