.social {
    background: #F8EFEF;
    padding: 18px 0;

    @include breakpoint(xl) {
        padding: 13px 0;
    }

    @include breakpoint(md) {
        padding-top: 31px;
        padding-bottom: 44px;
    }

    &__media-title {
        font-family: 'Open Sans';
        font-weight: 700;
        font-size: 24px;
        line-height: 135%;
        padding: 14px 0;


        @include breakpoint(xl) {
            font-size: 18px;
        }

        @include breakpoint(lg) {
            padding: 5px;
        }

        @include breakpoint(md) {
            text-align: center;
        }
    }

    &__media-subtitle {
        font-family: 'Open Sans';
        font-weight: 400;
        font-size: 18px;
        line-height: 120%;
        color: var(--gr-color);
        margin-top: 18px;
        margin-bottom: 0;

        @include breakpoint(xl) {
            font-size: 14px;
            margin-top: 13px;
        }

        @include breakpoint(lg) {
            margin-top: 5px;
        }

        @include breakpoint(md) {
            margin-top: 13px;
            text-align: center;
        }
    }

    &__links {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include breakpoint(md) {
            margin-top: 32px;
        }
    }

    &__links-item {
        margin-right: 40px;

        @include breakpoint(xl) {
            margin-right: 30px;
        }

        @include breakpoint(lg) {
            margin-right: 20px;
        }

        @include breakpoint(sm) {
            margin-right: 10px;

        }
    }

    &__links-item:last-child {
        margin-right: 0;
    }

}