/* * {
outline: 1px solid red;
} */
:root {
    --content-width: 1170px;
    --mobile-padding: 16px;
    --gutter: 15px;
    --pk-color: #EC7979;
    --wt-color: #fff;
    --gr-color: #86878B;
    --bk-color: #000;

    @include breakpoint(xl) {
        --gutter: 10px;
    }

}

ul,
li {
    list-style: none;
    padding: 0;
    margin: 0;
}


* {
    box-sizing: border-box;
}

img {
    display: block;
    max-width: 100%;
}

button {
    cursor: pointer;
}